<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">

      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <span class="icon  icon--github">
               
              </span>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="icon  icon--twitter">
             
              </span>

              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
          
          <li>
              <a href="{{ site.facebook_group }}">
                  <span class="icon">
                      <img src="/images/logos/FB-f-Logo__blue_1024.png" />
                  </span>
                  
                  <span class="username">BHA5 Japan Group</span>
              </a>
          </li>
          
          <li>
              <a href="{{ site.vimeo }}">
                  <span class="icon">
                      <img src="/images/logos/vimeo_icon_white_on_blue_rounded.png" />
                  </span>
                  
                  <span class="username">BHA5 Vimeo Channel</span>
              </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <!-- <p class="text">{{ site.description }}</p> /-->

<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Waag Society's Biohack Academy Syllabus</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

      </div>
    </div>

  </div>

</footer>
